log-openai: !pydantic:langchain_openai.ChatOpenAI
  model_name: gpt-4o-mini
  http_client: !httplog
gpt-4o-mini: !pydantic:langchain_openai.ChatOpenAI
  model_name: gpt-4o-mini
xai: !pydantic:langchain_openai.ChatOpenAI
  model_name: grok-beta
  openai_api_base: https://api.x.ai/v1
  openai_api_key: ${XAI_API_KEY}
groq: !pydantic:langchain_groq.ChatGroq
  model_name: llama-3.1-8b-instant
gemini: !pydantic:langchain_google_genai.ChatGoogleGenerativeAI
  model: gemini-1.5-pro-002
hf: !pydantic:langchain_huggingface.ChatHuggingFace
  llm: !pydantic:langchain_huggingface.HuggingFaceEndpoint
    repo_id: HuggingFaceH4/zephyr-7b-beta
    task: text-generation
